### Dictionary

In [28]:
empty_dict = {}
empty_dict = dict()

animals_legs = {"horse": 4, "human": 2, "fish": 0, "monkey": 3, "pig": 3, "pig": 4, (1,2): 3}  # list, string, set တွေကို key နေရာမှာလည်းထားလို့ရတယ်။ dictionary ထဲမှာလည်း dictionary ထားလို့ရတယ်
# key တူလို့ရတယ် ဒါပေမယ့် အရှေ့ကဟာက နှစ်ခုဖြစ်တယ်ဆိုရင် ညာဘက်ဆုံးက ဟာကိုပဲအတည်ယူတယ် 

#အရှေ့ကဟာက  key အနောက်ကဟာက value

animals_legs[(1,2)]

3

### Change the value

In [29]:
animals_legs["horse"] = 6

animals_legs["horse"]

6

add a new key to dictionary

In [30]:
animals_legs["octopus"] = 8

animals_legs

{'horse': 6,
 'human': 2,
 'fish': 0,
 'monkey': 3,
 'pig': 4,
 (1, 2): 3,
 'octopus': 8}

Operations

In [31]:
animals_legs = {'horse': 6,'human': 2,'fish': 0, 'monkey': 3, 'pig': 4, (1, 2): 3,'octopus': 8}

len(animals_legs)

7

In [33]:
"horse" in animals_legs # which means if there is a 4 in the keys of animals_legs 

"turtle" not in animals_legs

True

##### Methods

In [37]:
animals_legs.get("horse")  

animals_legs.get("horse", 5)

#vales ကိုဆွဲထုတ်ခြင်း

animals_legs

{'horse': 6,
 'human': 2,
 'fish': 0,
 'monkey': 3,
 'pig': 4,
 (1, 2): 3,
 'octopus': 8}

In [47]:
# del animals_legs["horse"]

animals_legs

{}

In [56]:
animals_legs = {'horse': 6,'human': 2,'fish': 0, 'monkey': 3, 'pig': 4, (1, 2): 3,'octopus': 8}


list(animals_legs.items())
list(animals_legs.keys())
list(animals_legs.values())
list(animals_legs)

list(animals_legs.keys())

['horse', 'human', 'fish', 'monkey', 'pig', (1, 2), 'octopus']

In [57]:
animals_legs = {'horse': 6,'human': 2,'fish': 0, 'monkey': 3, 'pig': 4, (1, 2): 3,'octopus': 8}

for element in animals_legs: 
    print(element)

horse
human
fish
monkey
pig
(1, 2)
octopus

In [58]:
for i, element in enumerate(animals_legs):
    print(i, element)

0 horse
1 human
2 fish
3 monkey
4 pig
5 (1, 2)
6 octopus

In [63]:
for i, ele in animals_legs.items():
    print(i, ele)

horse 6
human 2
fish 0
monkey 3
pig 4
(1, 2) 3
octopus 8

In [65]:
for k in animals_legs.keys():
    print(k)

horse
human
fish
monkey
pig
(1, 2)
octopus

In [66]:
for v in animals_legs.values():
    print(v)

6
2
0
3
4
3
8