## Tuple

if else elif
loops
in/ not in
add ele
remove ele
change ele
.count()
.sort(), .reverse(), ...
len()
*list
map()
list * 5
list1 + list2

In [4]:
t = (4, 1, 3)
sorted(t)
list(reversed(t))

[3, 1, 4]

In [5]:
print(*t)

4 1 3

In [10]:
tuple(map(int, input().split()))

(23, 23, 23, 23)

In [11]:
t = (4, 1, 3)
t * 5

(4, 1, 3, 4, 1, 3, 4, 1, 3, 4, 1, 3, 4, 1, 3)

In [12]:
t1 = (1, 2, 3) 
t2 = (4, 5, 6)
t1 + t2, t1, t2

((1, 2, 3, 4, 5, 6), (1, 2, 3), (4, 5, 6))